* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 0.5em;
}
ul > li {
	list-style: none;
}
.card,
.reset-btn {
	cursor: pointer;
}
.btn {
	border-radius: 1em;
	border: none;
	color: #fff;
	padding: 0.8em;
}
.moves-counter {
	padding: 0.5em;
}
.reset-btn {
	background: #000;
}
.timer-container {
	background: #fff;
	border-radius: 0.5em;
	color: #000;
	margin: 0.5em;
	padding: 0.5em;
}
.timer {
	font-size: 1em;
}
.deck {
	background:#aaa;
	border-radius: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 35em;
	margin-bottom: 6em;
	padding: 0.5em;
	width: 35em;
}
.card {
	background: #fc4;
	border-radius: 0.5em;
	height: 7em;
	width: 7em;
}
li>div {
	user-select: none;
	width: 6em;
}
.deck div {
    visibility: hidden;
}
.deck .card.flip {
	background: #fff;
	cursor: default;
	transform: rotateY(180deg);
	transition: transform 0.3s linear;
	pointer-events: none;
}
.flip div {
	background: #fff;
	visibility: visible;
   
}
.deck .card.match {
	background: #39d;
	visibility: visible;
	cursor: default;
}
.match div {
	background: #39d;
}

